<p>You are viewing your agents tariff</p>
<table class="tariff_list">
  	  <thead>
  		<th>Prefix</th>
  		<th>Country</th>
  	    <th>Rate</th>
  	  </thead>
  	  <tbody>
  	  	<% @tariff_list.each do |t| %>
  	  	<tr>
          <td><%= t[:prefix] %></td>
  	  		<td><%= t[:description] %></td>
  	  		<td><%= t[:voice_rate] %></td>
  	  	</tr>
  	  	<% end %>
  	  </tbody>
</table>