<% if session[:current_reseller3_id] %>
  <h3>Welcome!</h3>
  <p> Your Balance is <strong><%= @result1["result"]["clientsLimit"] %> USD</strong></p>
  <p> Your Profit is <strong><%= @profit.round(2) %> USD </strong></p>
<% else %>
  <%= flash[:error] = "You must be logged in to view this page" %><br><br>
  <span class="login_link"><%= link_to "Login", "/sessions/new" %></span>
<% end %>