<% if session[:current_reseller3_id] %>
  <h3>Welcome <%= @result["result"]["login"] rescue nil %>!</h3>
  <p> Your Balance is $<strong><%= @result["result"]["balance"] rescue nil%> USD</strong></p>
<% else %>
  <%= flash[:error] = "You must be logged in to view this page" %><br><br>
  <span class="login_link"><%= link_to "Login", "/sessions/new" %></span>
<% end %>