<% if session[:current_reseller3_id] %>
  <h3>Welcome <%= @result["result"]["login"] rescue nil %>!</h3>
  <%if @result["result"]["balance"] %>
    <p> Your Balance is $<strong><%= @result["result"]["balance"]%> USD</strong></p>
  <%else%> 
    <p>Your Balance is $0.</p>
  <%end%>
<% else %>
  <%= flash[:error] = "You must be logged in to view this page" %><br><br>
  <span class="login_link"><%= link_to "Login", "/sessions/new" %></span>
<% end %>