<% if flash[:error_adding] %>
  <div class="flash_error"><%= flash[:error_adding] %></div>
<% end %>
<% if flash[:notice_added] %>
  <div class="flash_notice"><%= flash[:notice_added] %></div>
<% end %>