<% if session[:current_reseller1_id] %> 

  <div id="edit_tariff">
    <%= render 'tariffForm' %>
  </div>

<% else %>
  <%= flash[:error] = "You must be logged in to view this page" %><br><br>
  <span class="login_link"><%= link_to "Login", "/sessions/new" %></span>
<% end %>