<% var = @result["result"]%>
<h3> Payment History </h3>
  	<table class="payment_history">
  	  <thead>
  		<th>Date</th>
  		<th>Amount</th>
  	    <th>Note</th>
  	  </thead>
  	  <tbody>
  	  	<% var["records"].each do |e| %>
  	  	<tr>
  	  		<% date_components = e["date"].split('T') %>
          <td><%= date_components[0] %></td>
  	  		<td><%= e["amount"] %></td>
  	  		<td><%= e["description"] %></td>
  	  	</tr>
  	  	<% end %>
  	  </tbody>
</table>