<% if session[:current_client_id] %>
  <h3>Welcome <%= @result["result"]["login"] rescue nil %>!</h3>
  <p> Your Balance is <%= @result["result"]["clientsLimit"] rescue nil%></p>
<% else %>
  <%= flash[:error] = "You must be logged in to view this page" %>
  <%= link_to "Login", "/sessions/new" %>
<% end %>