/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /**
	COLOR: 	CIAO-RED = #CC0606
			BLUE 4 Table = #2163AE
 */
body {
	font-family: "runda-1","runda-2","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #000000;
}
h3 {
	margin: 0;
	padding: 15px 0 5px 0;
}
h4 {
	margin: 0;
	padding: 0;
	padding-top: 20px;
}
a {
	text-decoration: none;
	color: #000000;
}
.login_panel {
	background-color: #CCCCCC;
	display: table-cell;
	padding: 10px 20px;
}
.login_panel label {
	font-size: 15px;
}
.logout_link a {
	background: #CC0606;
	margin-left: 5px;
}
.login_link a {
	background: green;
}
.logout_link a, .login_link a {
	padding: 2px 5px;
	color: white;
	font-weight: bold;
}
.logout_link a:hover {
	background: blue;
}
.about_you {
	margin-left: 2px;
	font-style: italic;

}
.add_payment {
	border: 1px black solid;
	width: 400px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	background-color: #CCCCCC;
}
.add_payment select {
	margin-right: 5px;
}
.add_payment input[type=text] {
	width: 50px;
}
.add_payment input[type=submit], .login_panel input[type=submit] {
	background-color: green;
	color: white;
	font-weight: bold;
	margin-left: 5px;
}
.flash_error .flash_notice {
	font-size: 8px;
}
.flash_error {
	color: #CC0606;
}
.flash_notice {
	color: green;
}
.menu td {
	background-color: #2163AE;
}
.menu td a {
	color: white;
}
.menu td a:hover {
	color: #CCCCCC;
}
table {
	border-collapse: collapse;
	margin-top: 10px;
	text-align: center;
}
th {
	color: #FFF;
	background-color: #2163AE;
}
th, td {
	padding:5px;
	text-align: left;
}
table, th, td {
	border: 1px solid black;
}